.app-layout {
  min-height: 100vh;
}

.app-layout__main {
  padding: 0 24px 48px;
}

.app-layout__backdrop {
  display: none;
}

@media (max-width: 1200px) {
  .app-layout__backdrop {
    display: block;
    position: fixed;
    top: 65px;
    inset-inline: 0;
    bottom: 0;
    background: rgb(0 0 0 / 0.3);
    z-index: 99;
  }

  .app-layout__main {
    padding: 0 16px 32px;
  }
}
