.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 24px;
  background-color: #fff;
  position: relative;
  z-index: 103;
}

.header__menu-btn {
  display: none;
  width: 24px;
  height: 24px;
  background-image: url("../../assets/icon-menu.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.header__logo {
  margin: 0;
  font-weight: 700;
}

.header__nav {
  display: flex;
  gap: 12px;
}

.header__link {
  padding: 8px 12px;
  border-radius: 8px;
  color: #1f1f1f;
  text-decoration: none;
}

.header__link_active {
  background-color: #eee7ff;
}

@media (max-width: 1200px) {
  .header {
    justify-content: flex-start;
    gap: 12px;
    border-bottom: 1px solid rgb(0 0 0 / 0.1);
    padding: 20px 16px;
  }

  .header__menu-btn {
    display: block;
  }

  .header__logo {
    margin-left: auto;
  }

  .header__nav {
    position: fixed;
    top: 65px;
    bottom: 0;
    left: 0;
    width: 75%;
    max-width: 255px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 12px;
    z-index: 101;
    display: none;
    border-top: 1px solid rgb(0 0 0 / 0.1);
    background-color: #fff;
    padding: 24px 16px;
  }

  .header__nav_mobile {
    display: flex;
  }

  .header__link {
    width: 100%;
  }
}
